<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomDelegateSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6BFDEF91DF037A3000513EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6BFDF0D1DF037A3000513EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6BFDF181DF037A3000513EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
